@using Octoparse.Web.Models;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "~/Views/octAccountLayout.cshtml";
  ViewBag.Title = "Payment Method Update";
  PaymentMethodModel paymentMethod = (PaymentMethodModel)ViewBag.PaymentMethod;
}
@section styles{
  <link rel="stylesheet" href="/css/account/index.css">
  <style>
    .page-title {font-size:30px;margin:40px 0 20px 0;padding-bottom: 14px;border-bottom: solid 1px #ddd;}
    .payment-info-wrap {}
    .payment-info-wrap .panel-body {align-items: center;}
    .payment-info-wrap p {font-size: 20px;margin: 0 0 0 20px;font-weight: bold;}
    .payment-info-wrap .btn-regular,.payment-info-wrap .btn-o {width: 100px;height: 40px;font-size: 16px;}
    .payment-info-wrap .btn-change {margin: 0 20px 0 auto;}

    .title-tip {font-size:24px;color:#999;font-weight:bold;margin-top:20px;margin-bottom:29px;}
    .show-total {height:55px;line-height:55px;color:#333;font-size:15px;border-bottom:1px solid #e5e5e5;margin-bottom:10px;}
    .tatol-placing p {line-height:24px;margin-top:26px;}
    .bold-f15-cf50 {font-size:15px;font-weight:bold;color:#ff5050;}
    .p-tit {font-size:20px;color:#999;height:40px;line-height:40px;border-bottom:1px solid #bdbdbd;margin-top:0;margin-bottom:30px;}
    .cardform {width:480px;}
    .cardform > label {font-size:15px;margin-bottom:5px;font-weight:normal;color:#333;display:block;width:480px;}
    .cardform > .form-control {box-shadow:none;border-radius:0;height:50px;background:#F8F8F8;width:480px;border-color:#e5e5e5;}
    .cardform > div > label {font-size:15px;margin-bottom:5px;font-weight:bold;color:#333;display:block;}
    .cardform > div > .form-control {box-shadow:none;border-radius:0;height:50px;background:#F8F8F8;border-color:#e5e5e5;}
    .select-yhk {list-style:none;padding-left:0;margin-bottom:20px;}
    .select-yhk li {width:55px;height:34px;border:1px solid #E5E5E5;float:left;margin-right:10px;overflow:hidden;border-radius:3px;cursor:pointer;}
    .select-yhk li > img {display:block;margin-left:-1px;margin-top:-1px;opacity:0.6;}
    .select-yhk li.active {border-color:#08A9E3;}
    .select-yhk li img {-webkit-filter:grayscale(1);filter:grayscale(1);}
    .select-yhk li.active img {opacity:1;-webkit-filter:initial;filter:initial;}
    .cardform > select {color:#999;}
    .dates {margin-bottom:20px;}
    .dates > label > span {float:right;width:120px;}
    .dates > .form-control {width:130px;float:left;}
    .dates > span {float:left;height:50px;line-height:50px;margin:0 10px;}
    .btn-submit {width:210px;height:36px;line-height:32px;background:#08A9E3;color:#fff;font-size:15px;font-weight:bold;border-radius:36px;text-align:center;display:block;border:1px solid #08A9E3;margin-top:48px;margin-bottom:200px;outline:none;float:left;margin-right:10px;}
    .btn-cancel {width:110px;height:36px;line-height:32px;background:none;color:#08A9E3;font-size:15px;border-radius:36px;text-align:center;display:block;border:1px solid #08A9E3;margin-top:48px;margin-bottom:200px;outline:none;float:left;margin-right:10px;}
    .rig-img {border-left:1px solid #e5e5e5;height:320px;padding-top:150px;padding-left:100px;}
    .rig-img > img {display:block;}
    .modal-dialog {margin:250px auto;text-align:center;width:500px;}
    .popover {max-width:300px;}
    @@media (min-width:992px) {
      .col-md-4 {width:245px;}
      .col-md-7 {width:78%;}
    }
    .modal-dialog {margin:250px auto;text-align:center;width:500px;}
  </style>
}

<div class="wrapper flex">
  <div class="flex flex-one">
    @Html.Partial("octUserMenu", "PaymentMethod")
    <div class="content flex-one">
      <h1 class="page-title">Payment Info</h1>
      @if (ViewBag.IsUpdated != null && ViewBag.IsUpdated)
      {
        <div class="alert alert-success">Payment method updated.</div>
      }
      else
      {
        if (!string.IsNullOrWhiteSpace(ViewBag.Error))
        {
          <div class="alert alert-danger fade in" role="alert" id="serverError">Uh-oh! We were unable to process your payment. Please try again later or change a credit card or Paypal account.
              <br /><span style="font-weight:bold">@("Error Message: " + ViewBag.Error)</span>
          </div>
        }
        <div id="error-message" class="alert alert-danger fade in" role="alert" style="display:none"></div>
      }
      @if (paymentMethod != null)
      {
        <div class="panel panel-default payment-info-wrap">
          <div class="panel-body flex">
            <img src="@paymentMethod.ImgUrl" title="@paymentMethod.PaymentMethodType">
            <p>@paymentMethod.Addtional</p>
            <a href="javascript:;" id="changePaymentMethod" class="btn-regular btn-change">Change</a><a id="btn-remove-payment-method" href="javascript:;" class="btn-o">Remove</a>
          </div>
        </div>
      }
      <div class="flex" id="paymentMethod" style="margin-top: 20px;display:@(paymentMethod != null && string.IsNullOrWhiteSpace(ViewBag.Error)?" none ":" ")">
        <div class="col-md-8">
          <div class="form-group cardform">
            <label for="cardnumber" style="font-weight: bold; margin-top: 20px;">Credit Card Number:</label>
            <div class="form-control" id="card-number"></div>
          </div>
          <ul class="select-yhk clearfix">
            <li data-val="visa"><img src="/images/profile/visa.png" alt="Visa"></li>
            <li data-val="master-card"><img src="/images/profile/Mastercard.png" alt="Master Card"></li>
            <li data-val="american-express"><img src="/images/profile/AmericanExpress.png" alt="American Express"></li>
            <li data-val="discover"><img src="/images/profile/Discover-Card.png" alt="Discover Card"></li>
            <li data-val="jcb"><img src="/images/profile/JCB.png" alt="JCB"></li>
            <li data-val="diners-club"><img src="/images/profile/Diner's-Club.png" alt="Diner's Club"></li>
          </ul>
          <div class="form-group cardform dates clearfix">
            <div class="float-left" style="width: 50%;float: left;padding-right: 10px;">
              <label for="cvv" id="cvvLabel">CVV (?)</label>
              <div class="form-control" id="cvv"></div>
            </div>
            <div class="float-right" style="width: 50%;float: left;padding-right: 10px;">
              <label for="expiration-date">Expiration Date(MM/YYYY)</label>
              <div class="form-control pull-right" id="expiration-date"></div>
            </div>
            <input type="button" id="creditCardSubmit" class="btn-submit" value="Submit" disabled /></div>
        </div>
        <div class="col-md-4" id="paypalBox" style="display:none">
          <div class="rig-top" style="position:absolute;width:100%;top:30px;left:110px;">By clicking the button below, you will be transferred to PayPal where you can set PayPal to be used as your method of payment.</div>
          <div class="rig-img">
            <script src="https://www.paypalobjects.com/api/button.js?" data-merchant="braintree" data-id="paypal-button" data-button="checkout" data-color="blue" data-size="medium" data-shape="pill" data-button_type="submit" data-button_disabled="false"></script>
          </div>
          <form id="checkoutForm" action="/subscribe/paymentMethod" method="post" role="form" style="display:none">
            <input type="hidden" name="paymentMethodType" id="paymentMethodType" value="0">
            <input type="hidden" name="paymentMethodNonce" id="paymentMethodNonce">
          </form>
        </div>
      </div>
    </div>
  </div>
  @Html.Partial("octProfileFooter")
</div>

<div class="modal fade" id="loadingBox">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="top"><img style="padding-top: 50px;padding-bottom: 15px;" src="/images/loading.gif" alt=""></div>
        <div id="loadingMessage" class="bottom" style="padding-bottom: 50px;">Processing, please wait...123</div>
      </div>
    </div>
  </div>
</div>

@section scripts{
  <!-- Load the required client component. -->
  <script src="https://js.braintreegateway.com/web/3.3.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.3.0/js/paypal.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.3.0/js/hosted-fields.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.3.0/js/data-collector.min.js"></script>

  <script id="paymentjs">
    $(function () {
      var loadingBox = $("#loadingBox");
      var errorMessage = $("#error-message");

      var hideLoading = function() {
        loadingBox.modal("hide");
      }

      var showLoading = function(message) {
        $("#loadingMessage").text(message || "Processing, please wait...")
        loadingBox.modal({ backdrop: "static", keyboard: false });
      }

      var hideDelayError = function() {
        if (timeOutHideId) {
          window.clearTimeout(timeOutHideId);
          timeOutHideId = null;
        }
        errorMessage.hide("slow");
      }

      var timeOutHideId;
      var showDelayError = function(msg) {
        if (timeOutHideId)
          window.clearTimeout(timeOutHideId);
        errorMessage.text(msg);
        errorMessage.show("fast");
        timeOutHide = setTimeout(hideDelayError, 20000);
      }

      var initBraintree = function(authorization) {
        var isOkCC = false;
        var isOkPP = false;
        var isCardVerified = false;
        var form = $('#checkoutForm');
        var submit = $('#creditCardSubmit');
        var paypalButton = $('.paypal-button');
        var acceptedCardTypes = ["master-card", "visa", "american-express", "discover", "jcb", "diners-club"];
        var initLoadingHide = function() {
          if (isOkCC && isOkPP)
            loadingBox.modal("hide");
        }

        $("#btn-remove-payment-method").click(function() {
          var removeConfirm = window.confirm('Are you sure you want to delete the payment info? Your subscription will be cancelled when payment clears.');

          if (!removeConfirm) {
            return;
          }

          $.post('/umbraco/surface/subscribe/deletePaymentMethod').done(function(res) {
            if (res.status === -1) {
              window.location.href = "/Login";
              return;
            }

            if (res.status === 0) {
              alert('Failed to delete the payment info');
              return;
            }

            $('.payment-info-wrap').remove();
            $('#paymentMethod').show();
          });
        });

        showLoading("");
        
        braintree.client.create({
          authorization: authorization
        }, function (clientErr, clientInstance) {
          if (clientErr) {
            // Handle error in client creation
            hideLoading();
            showDelayError(clientErr);
            return;
          }

          //--CreditCard--
          braintree.hostedFields.create({
            client: clientInstance,
            styles: {
              'input': {
                'font-size': '14pt'
              },
              'input.invalid': {
                'color': 'red'
              },
              'input.valid': {
                'color': 'green'
              }
            },
            fields: {
              number: {
                selector: '#card-number',
                placeholder: 'Credit Card Number'
              },
              cvv: {
                selector: '#cvv',
                placeholder: 'CVV'
              },
              expirationDate: {
                selector: '#expiration-date',
                placeholder: 'MM / YYYY'
              }
            }
          }, function (hostedFieldsErr, hostedFieldsInstance) {
            if (hostedFieldsErr) {
              // Handle error in Hosted Fields creation
              isOkCC = true;
              initLoadingHide();
              showDelayError(hostedFieldsErr);
              return;
            }

            hostedFieldsInstance.on('cardTypeChange', function (event) {
              if (event.cards.length === 1) {
                var cardType = event.cards[0].type.toLowerCase();
                console.log(cardType);
                isCardVerified = acceptedCardTypes.indexOf(cardType) >= 0;
                $('.select-yhk>li[data-val="' + cardType + '"]').addClass('active').siblings('li').removeClass('active');
                /* american-express, diners-club, discover, jcb, maestro, master-card, unionpay, visa */
              } else {
                isCardVerified = false;
                console.log('Type of card not yet known');
                $('.select-yhk>li').removeClass('active');
              }
            });

            submit.removeAttr('disabled');
            submit.on('click', function () {
              if (!isCardVerified) {
                showDelayError("Sorry, this credit card type is not accepted.");
                return;
              }
              showLoading("");
              hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                if (tokenizeErr) {
                  // Handle error in Hosted Fields tokenization
                  hideLoading();
                  showDelayError("Uh-oh! We were unable to process your payment. Please try again later or change a credit card or Paypal account. Error details: " + tokenizeErr.message);
                  return;
                }

                // Put `payload.nonce` into the `payment-method-nonce` input, and then
                // submit the form. Alternatively, you could send the nonce to your server
                // with AJAX.
                $("#paymentMethodNonce").val(payload.nonce);
                $("#paymentMethodType").val("1");
                form.submit();
              });
            });

            isOkCC = true;
            initLoadingHide();
          });

          //--paypal--

          // Create a PayPal component.
          braintree.paypal.create({
            client: clientInstance
          }, function (paypalErr, paypalInstance) {

            // Stop if there was a problem creating PayPal.
            // This could happen if there was a network error or if it's incorrectly
            // configured.
            if (paypalErr) {
              console.error('Error creating PayPal:', paypalErr);
              if (paypalErr.code != "PAYPAL_NOT_ENABLED") {
                showDelayError(paypalErr);
              }
              isOkPP = true;
              initLoadingHide();
              return;
            }
            $("#paypalBox").show();
            // Enable the button.
            paypalButton.removeAttr('disabled');

            // When the button is clicked, attempt to tokenize.
            paypalButton.on('click', function () {
              showLoading("");
              hideDelayError();
              // Because tokenization opens a popup, this has to be called as a result of
              // customer action, like clicking a button—you cannot call this at any time.
              paypalInstance.tokenize({
                flow: 'vault'
              }, function (tokenizeErr, payload) {

                // Stop if there was an error.
                if (tokenizeErr) {
                  if (tokenizeErr.type !== 'CUSTOMER') {
                    console.error('Error tokenizing:', tokenizeErr);
                  } else {
                    showDelayError("Uh-oh! We were unable to process your payment. Please try again later or change a credit card or Paypal account. Error details: " + tokenizeErr.message);
                  }
                  hideLoading();
                  return;
                }

                // Tokenization succeeded!
                paypalButton.attr('disabled', true);
                console.log(payload.nonce);
                $("#paymentMethodNonce").val(payload.nonce);
                $("#paymentMethodType").val("2");
                form.submit();
              });
            });

            isOkPP = true;
            initLoadingHide();
          });
        });
      }

      var hideServerError = function() {
        var serverError = $("#serverError");
        if (serverError.length > 0) {
          setTimeout(function () {
            serverError.hide("fast");
          }, 20000);
        }
      }

      initBraintree("@ViewBag.ClientToken");

      $("#changePaymentMethod").on("click", function () {
        $("#paymentMethod").show();
        $("#serverError").hide("fast");
        hideDelayError();
      });

      $("#cvvLabel").popover({
        trigger: "hover",
        placement: "left",
        html: true,
        content: '<img src="/images/profile/cvv.png"/>'
      });

      hideServerError();
    });
  </script>
}