@using Octoparse.Web;
@model List<Octoparse.Web.Models.OrderMode>
@{
    Layout = "~/Views/octAccountLayout.cshtml";
    ViewBag.Title = "Transaction View";
}
@section styles {
  <link rel="stylesheet" href="/css/flex.css">
  <link rel="stylesheet" href="/css/account/index.css">
  <style>
    .page-title {font-size:30px;margin:40px 0 20px 0;padding-bottom: 14px;border-bottom: solid 1px #ddd;}
    .table-transaction {border:1px solid #E5E5E5;}
    .table-transaction > thead > tr > th {border-width:1px;padding:10px;padding-right:0;background:#2095f2;color:#fff;font-weight:normal;}
    .table-transaction > thead > tr > th > span {display:block;border-right:1px solid #fff;}
    .table-transaction > thead > tr > th:last-child > span {border-right:none;}
    #printP {width:600px;height:800px;background:pink;}
    h4 {margin:0 auto;}

    .no-transaction-info {font-size: 18px;}
  </style>
}

<div class="wrapper flex">
  <div class="flex flex-one">
    @Html.Partial("octUserMenu", "Transactions")
     <div class="content flex-one">
      <h1 class="page-title">Transactions</h1>
      @if (Model != null && Model.Any())
      {
        <table class="table table-transaction">
          <thead>
            <tr>
              <th><span>Date</span></th>
              <th><span>Order No.</span></th>
              <th><span>Details</span></th>
              <th><span>Total Amount</span></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var order in Model)
            {
              <tr>
                <td>@order.CreatedDate.ToEnDate()</td>
                <td><a href="javascript:;" class="printPage" data-url="/subscribe/invoice?tradeId=@order.Id" title="Print invoice">@order.No</a></td>
                <td>@order.Name</td>
                <td>$@order.Amount</td>
              </tr>
            }
          </tbody>
        </table>
      }
      else
      {
        <div class="alert alert-info no-transaction-info">No transaction! You don't have any transaction yet. Go to <a href="/Pricing">pricing page</a> to purchase a plan</div>
      }
    </div> 
  </div>
  @Html.Partial("octProfileFooter")
</div>
	
@section scripts {
  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <script src="/layer/layer.js" type="text/javascript"></script>
  <script>
    $(function() {
      var printPage = $(".printPage");
      printPage.on("click", function() {
        var url = $(this).data("url");
        layer.ready(function() {
          layer.open({
            type: 2,
            title: 'Invoice',
            fix: false,
            maxmin: true,
            shadeClose: true,
            area: ['747px', '90%'],
            content: url
          });
        });
      });
    });
  </script>
}
