@using Umbraco.Web
@using Umbraco.Core.Models
@using Umbraco.Web.Models
@inherits UmbracoTemplatePage
@{
    Layout = "octLayout.cshtml";
    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title) ? CurrentPage.Name : CurrentPage.Title;
    var blogCategory = string.IsNullOrWhiteSpace(CurrentPage.blogCategory) ? CurrentPage.blogCategory : "";
    var dateTime = CurrentPage.PublishDate == default(DateTime) ? CurrentPage.CreateDate : CurrentPage.PublishDate;

}

@section styles{
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            background: #f7f8fa;
        }

        .tut-bread {
            width: 1200px;
            margin: 12px auto;
            font-family: HelveticaNeue;
            font-size: 16px;
            color: #666666;
            text-align: left;
        }

            .tut-bread span {
                cursor: pointer;
            }

            .tut-bread .part3 {
                color: #333;
                cursor: default;
            }

        .tut-content {
            width: 1200px;
            margin: 0 auto 230px;
        }

            .tut-content:after {
                content: '';
                display: block;
                clear: both;
                visibility: hidden;
                height: 0;
            }

            .tut-content .left {
                width: 340px;
                float: right;
                margin-left: 10px;
                padding: 20px 14px 20px 20px;
                box-sizing: border-box;
                background-color: #fff;
            }

                .tut-content .left .social {
                    width: 100%;
                    height: 110px;
                    margin-bottom: 69px;
                }

                    .tut-content .left .social p {
                        font-family: HelveticaNeue-Medium;
                        font-size: 20px;
                        color: #333333;
                        line-height: 32px;
                        text-align: left;
                        margin-bottom: 23px;
                        letter-spacing: -.8px;
                        font-weight: bold;
                    }

                    .tut-content .left .social ul {
                        list-style: none;
                        width: 100%;
                    }

                        .tut-content .left .social ul li {
                            float: left;
                            margin-right: 24px;
                        }

                            .tut-content .left .social ul li:last-child {
                                margin-right: 0;
                            }

                .tut-content .left .popular {
                    height: 320px;
                    width: 100%;
                    margin-bottom: 66px;
                }

                    .tut-content .left .popular p {
                        height: 40px;
                        font-family: HelveticaNeue-Medium;
                        font-size: 20px;
                        color: #333333;
                        text-align: left;
                        font-weight: bold;
                    }

                    .tut-content .left .popular ul {
                        list-style: none;
                    }

                        .tut-content .left .popular ul li {
                            height: 56px;
                            font-family: HelveticaNeue;
                            font-size: 16px;
                            color: #333333;
                            text-align: left;
                            letter-spacing: -.4px;
                            line-height: 24px;
                        }

                .tut-content .left .articleName {
                    height: 280px;
                }

                    .tut-content .left .articleName p {
                        height: 40px;
                        font-size: 20px;
                        font-family: HelveticaNeue-Medium;
                        color: #333;
                        text-align: left;
                        font-weight: bold;
                    }

                    .tut-content .left .articleName ul {
                        list-style: none;
                    }

                        .tut-content .left .articleName ul li {
                            position: relative;
                            height: 40px;
                            line-height: 40px;
                            text-indent: 10px;
                        }

                            .tut-content .left .articleName ul li:before {
                                content: '';
                                position: absolute;
                                width: 2px;
                                height: 14px;
                                left: 0;
                                top: 12px;
                            }

        .color1:before {
            background: #1e81fa;
        }

        .color2:before {
            background: #17d2bc;
        }

        .color3:before {
            background: #591efa;
        }

        .color4:before {
            background: #fcba52;
        }

        .color5:before {
            background: #d82222;
        }

        .color6:before {
            background: #115278;
        }

        .tut-content .right {
            background: #ffffff;
            padding: 24px 20px;
            box-sizing: border-box;
            width: 850px;
            float: left;
        }

            .tut-content .right .article {
            }

                .tut-content .right .article h2 {
                    font-family: HelveticaNeue-Medium;
                    font-size: 24px;
                    color: #333333;
                    margin-bottom: 24px;
                }

                .tut-content .right .article h4 {
                    font-family: HelveticaNeue;
                    font-size: 16px;
                    color: #333333;
                    margin-bottom: 24px;
                    font-weight: normal;
                }

                .tut-content .right .article p.line {
                    background: #d6dbe5;
                    width: 810px;
                    height: 1px;
                    margin-bottom: 27px;
                }

                .tut-content .right .article p.content {
                    font-family: HelveticaNeue;
                    font-size: 16px;
                    color: #333333;
                    line-height: 24px;
                    text-align: left;
                    margin: 18px 0 50px;
                }

        .page {
            width: 100%;
            margin-top: 40px;
        }

            .page .pre {
                background: #ffffff;
                border: 1px solid #e1e1e1;
                width: 118px;
                height: 38px;
                float: left;
                line-height: 38px;
                text-align: center;
                cursor: pointer;
                user-select: none;
            }

            .page .next {
                background: #ffffff;
                border: 1px solid #e1e1e1;
                width: 118px;
                height: 38px;
                float: right;
                line-height: 38px;
                text-align: center;
                cursor: pointer;
                user-select: none;
            }

            .page a {
                color: #333333;
                text-decoration: none;
                display: block;
                height: 100%;
                width: 100%;
            }

        .download {
            background: url("./images/morequestions.jpg");
            background-position: center top;
            width: 100%;
            height: 160px;
            padding-top: 24px;
            box-sizing: border-box;
            text-align: center;
        }

            .download p {
                font-family: HelveticaNeue;
                font-size: 20px;
                color: #2e2e2f;
                text-align: center;
            }

            .download a {
                border: 2px solid #ffffff;
                border-radius: 3px;
                line-height: 40px;
                margin-top: 22px;
                text-decoration: none;
                background: #ffffff;
                width: 136px;
                height: 40px;
                display: inline-block;
                font-family: HelveticaNeue-Bold;
                font-size: 20px;
                color: #fbad29;
                text-align: center;
            }

                .download a:last-child {
                    border: 2px solid #ffffff;
                    color: #ffffff;
                    background: #fcba52;
                    margin-left: 40px;
                }
    </style>
}

<div class="tut-bread">
    <span class="part1"><a href="/blog">Blog</a></span> >
    @if (!string.IsNullOrWhiteSpace(CurrentPage.blogCategory))
    {
        <span><a href="/Blog?pageIndex=1&blogCategory=@CurrentPage.blogCategory">@CurrentPage.blogCategory</a></span> @(">")
    }
    <span class="part3">Post</span>
</div>
<div class="tut-content">
    <div class="right">
        <div class="article">
            <h2>@pageTitle</h2>
            <h4>@dateTime.GetDateTimeFormats('D')[0].ToString()</h4>
            <p class="line"></p>
            <p class="content">
                @CurrentPage.BodyText
            </p>
            <p class="line"></p>
        </div>
        <div class="page">
            @{
                var parent = CurrentPage.Parent;
                if (parent != null)
                {
                    List<DynamicPublishedContent> blogList = new List<DynamicPublishedContent>();
                    if (string.IsNullOrWhiteSpace(blogCategory))
                    {
                        blogList.AddRange(parent.Children.OrderBy("Id desc"));
                    }
                    else
                    {
                        blogList.AddRange(parent.Children.Where("BlogCategory == @0", blogCategory).OrderBy("Id desc"));
                    }
                    if (blogList != null && blogList.Count() > 1)
                    {
                        var count = blogList.Count();
                        int index = blogList.IndexOf(blogList.Where(p => p.Id == CurrentPage.Id).FirstOrDefault());
                        if (index - 1 >= 0)
                        {
                            dynamic pre = blogList[index - 1];
                            string preTitle = string.IsNullOrWhiteSpace(pre.Title) ? pre.Name : pre.Title;
                            <div class="pre">
                                <a href="@pre.Url" title="@preTitle"> < Last post</a>
                            </div>
                        }
                        if (index + 1 < count)
                        {
                            dynamic next = blogList[index + 1];
                            string nextTitle = string.IsNullOrWhiteSpace(next.Title) ? next.Name : next.Title;
                            <div class="next"><a href="@next.Url" title="@nextTitle">Next post > </a></div>
                        }
                    }
                }
            }
        </div>
    </div>
    <div class="left">
        @{ Html.RenderPartial("octShare");}
        @{ Html.RenderPartial("octLatestBlogWidget"); }
        @{ Html.RenderPartial("octBlogCategory"); }
    </div>
</div>
<div class="download">
    <p>Download Octoparse to start web scraping or contact us for any<br> question about web scraping!</p>
    <div>
        <a href="/contact">Contact us</a>
        <a href="/download">Download</a>
    </div>
</div>
@*@section scripts {
    <script src="http://w.sharethis.com/button/buttons.js"></script>
    <script>
        $(function () {
            stLight.options({
                publisher: "beff5847-b8e9-4ee4-82f8-a075354f3974",
                doNotHash: false,
                doNotCopy: false,
                hashAddressBar: false
            });
        });
    </script>
}*@