@{

}
<div class="social bshare-custom icon-medium-plus">
    <p>Join web scraping with us today</p>
    <ul>
        <li><a target="_blank" href="https://www.facebook.com/octoparse"><img src="@Url.Content("~/images/facebook.png")" alt=""></a></li>
        <li><a target="_blank" href="https://twitter.com/octoparse"><img src="@Url.Content("~/images/twitter.png")" alt=""></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/company/octopus-data-inc."><img src="@Url.Content("~/images/linkedin.png")" alt=""></a></li>
        <li><a target="_blank" href="https://plus.google.com/u/0/106959685400674392220"><img src="@Url.Content("~/images/google.png")" alt=""></a></li>
        <li><a target="_blank" href="https://www.youtube.com/channel/UCweDWm1QY2G67SDAKX7nreg"><img src="@Url.Content("~/images/YouTube.png")" alt=""></a></li>
    </ul>

    @* 利用bshare分享链接 *@
    @*<ul>
            <li>
                <a class="bshare-facebook" style="background-size:100% 100%;width:35px;height:35px;background-position:0;background-image:url('@Url.Content("/images/facebook.png")')"></a>
            </li>
            <li><a class="bshare-twitter" style="background-size:100% 100%;width:35px;height:35px;background-position:0;background-image:url('@Url.Content("/images/twitter.png")')"></a></li>
            <li><a class="bshare-linkedin" style="background-size:100% 100%;width:35px;height:35px;background-position:0;background-image:url('@Url.Content("/images/linkedin.png")')"></a></li>
            <li><a class="bshare-gplus" style="background-size:100% 100%;width:35px;height:35px;background-position:0;background-image:url('@Url.Content("/images/google.png")')"></a></li>
            <li><a class="" target="_blank" href="https://www.youtube.com/channel/UCweDWm1QY2G67SDAKX7nreg" style="display:inline-block;background-size:100% 100%;width:35px;height:35px;background-position:0;background-image:url('@Url.Content("/images/youtube.png")')"></a></li>
        </ul>
        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=en"></script>
        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>*@
</div>