@using System.Xml.XPath;
@using umbraco.MacroEngines;
@using Umbraco.Web
@using Umbraco.Core.Models
@using Umbraco.Web.Models
@inherits UmbracoTemplatePage
@{
Layout = "octLayout.cshtml";

// If the editor has not explicitly provided the "Page title" property page
// then just show the name of the page otherwise show the provided title
var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
? CurrentPage.Name
: CurrentPage.Title;
var homePage = CurrentPage.AncestorsOrSelf(1).First();
var newsOverview = homePage.octTutorialOverviews.First();
var items = newsOverview.octTutorialItems.OrderBy("updateDate desc").Take(5);

var newsOverview7 = homePage.tutorial7Overviews.First();
var newsItems7 = newsOverview7.tutorialItemV7s;

var category = Request.QueryString["category"];
var currentPageCategory = CurrentPage.category;
}
@section styles{
<style>
    * {
        padding: 0;
        margin: 0;
    }

    body {
        background: #f7f8fa;
    }

    .tut-header {
        background: #2095f2;
        width: 100%;
        height: 26rem;
        padding-top: 20px;
        box-sizing: border-box;
    }

    .tut-header p {
        font-size: 4rem;
        font-family: BoldMT;
        font-weight: 400;
        line-height: normal;
        color: #fff;
        text-align: center;
        margin-top: 3rem;
    }

    .tut-header a {
        padding: 2rem 4rem;
        font-family: ArialMT;
        color: #fff;
        font-size: 3rem;
        background: #fbad29;
        height: 100%;
        width: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6rem;
    }

    .tut-bread {
        width: 100%;
        font-size: 3rem;
        color: #2095f2;
        text-align: left;
    }
    .tut-bread .breadcrumb{
        border:0;
        width: 100%;
        height: auto;
        padding:3rem 2rem
    }
    .tut-bread .breadcrumb>.active{
        /* color:#333 */
    }
    .tut-bread li{
        display: inline-block;
        font-size: 2.5rem;
        color: #2095f2;
        font-family: ArialMT;
        float: left;
        height: 4rem;
        display: flex;
        align-items: center;
    }
    .tut-bread li .active{
        cursor: default;
    }
    .tut-bread li a{
        color: #2a96ef;
        font-size: 2.5rem;
        display: inline-block;
        font-family: ArialMT;
    }

    .tut-bread span {
        cursor: pointer;
    }

    .tut-bread .part2 {
        color: #333;
        cursor: default;
    }

    .tut-content:after {
        content: '';
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }

    .tut-content .right {
        /* width: 850px; */
        /* float: right; */
        background: #ffffff;
        padding: 24px 20px;
        box-sizing: border-box;
        color: #193F65;
    }

    .tut-content .right .article {
    }

    .tut-content .right .article .title{
        font-size: 3rem;
        line-height:1.4;
        font-weight:bold;
        margin:0;
        margin-bottom: 10px;
        color: #193F65;
        font-family: ArialMT;
    }
    .breadcrumb>li:before{
        font-size: 3rem !important;
        color: #2a96ef !important;
    }
    .tut-content .right .article .date {
        font-size: 2rem;
        color: #193F65;
        margin-bottom: 24px;
        font-weight: normal;
        display: block;
        font-family: ArialMT;
    }

    .tut-content .right .article p.line {
        background: #d6dbe5;
        width: 810px;
        height: 1px;
        margin-bottom: 27px;
        font-size: 2rem;
        font-family: ArialMT;        
    }

    .tut-content .right .article .content {
        font-size: 2.5rem;
        font-family: ArialMT;
        color: #193F65;
        /* line-height: 24px; */
        text-align: left;
        overflow: hidden;
        margin: 18px 0 30px;
    }
    /*解决文章中的有序无序列表的开头部分被超出影藏bug*/
    .tut-content .right .article .content ul,.tut-content .right .article .content ol{
        padding-left :  20px;
    }
    .tut-content .right .article table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-top:0.8rem;
        margin-bottom:1.4rem
    }
    .tut-content .right .article tr{
        border-top:1px solid
    }
    .tut-content .right .article th,td{
        padding:5px 14px;
        border:1px solid;
    }

    .page {
        width: 100%;
        margin-top: 40px;
        height: auto;
    }

    .page .pre a:hover,.next a:hover
    {
        color:#2a96ef;
    }
    .page .pre {
        background: #ffffff;
        min-height: 38px;
        float: left;
        text-align: left;
        cursor: pointer;
        user-select: none;
        color: #2a96ef;
        padding-bottom: 3rem;
    }

    .page .next {
        background: #ffffff;
        /* width: 220px; */
        float: right;
        min-height: 38px;
        text-align: right;
        cursor: pointer;
        user-select: none;
    }
    .page .pre .wrap{
        float:right;
        width: 25rem;
    }
    .page .pre .wrap .nextpost{
        color:#2095f2;
        font-size:2.5rem;
        display: inline-block;
        width:auto;
    }
    .page .pre .img{
        float:left;
        width: 20px;
        color:gray;
        line-height:60px
    }
    .page .next .wrap{
        float:left;
        /* width: 200px; */
        width: 25rem;
    }
    .page .next .wrap .nextpost{
        color:#2095f2;
        font-size:2.5rem;
        display: inline-block;
        width: auto;
    }
    .page .next .img{
        float:right;
        width: 20px;
        color:gray;
        line-height:60px
    }

    .page a {
        color: #333333;
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
    }

    .popular {
        width: 100%;
        /* height: 30rem; */
        padding-top: 1rem;
        background-image: url("@Url.Content("~/images/bg.jpg")");
        background-position: center top;
    }

    .popular .wrap {
        margin: 0 auto;
        box-sizing: border-box;
    }

    .popular .wrap ul {
        padding: 1rem 2rem;
        list-style: none;
    }

    .popular .wrap ul:last-child {
        margin-right: 0;
    }

    .popular .wrap ul li {
        color: #193F65;
        text-align: left;
        font-weight: bold;
        font-size: 4rem;
        white-space: nowrap;
    }

    .popular .wrap ul li a {
        color: #2095f2;
        font-size: 3rem;
        font-weight: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block
    }

    .download {
        width: 100%;
        height: 30rem;
        padding-top: 18px;
        box-sizing: border-box;
        text-align: center;
        background: #fbad29;
    }

    .download p {
        font-size: 4rem;
        color: #fff;
        text-align: center;
        font-family: Avenir-LT-W01_35-Light, Avenir-LT-W01_85-Heavy;
        font-weight: bold;
    }

    .download a {
        border: 2px solid #ffffff;
        border-radius: 10px;
        margin-top: 2rem;
        line-height: 6rem;
        text-decoration: none;
        background: #ffffff;
        width: 25rem;
        height: 6rem;
        display: inline-block;
        font-size: 3rem;
        color: #fbad29;
        text-align: center;
        font-family: Avenir-LT-W01_35-Light, Avenir-LT-W01_85-Heavy;
        font-weight: bold
    }

    .download a:last-child {
        border: 2px solid #ffffff;
        color: #ffffff;
        background: #fcba52;
        margin-left: 40px;
    }
    .changeView{
        height: 42px;
        font-size: 2rem;
        color: #193F65;
        font-weight: bold;
    }
    .changeView span{
        float: left;
        color:gray;
        margin:0 20px;
    }
    .changeView p{
        float: left;
        cursor:pointer;
    }
    .changeView p:last-child{
        color:#2095f2
    }
    img{
        max-width: 100%;
    }
    .btn-download{display: flex;justify-content: center;margin-top: 3rem};
    #profile{display: flex;justify-content: center};
    #profile  strong{font-size: 3rem};
    .video{display: flex;justify-content: center};
    #profile table p span strong {text-indent: 2rem !important}
</style>
}
<div class="tut-header">
    <p>Step-by-step tutorials for you to get started with web scraping</p>
    <div class="btn-download" style="width: 100%;height: 6rem">
        <a target="_blank" href="/download">Download Octoparse</a>
    </div>
</div>
<div class="tut-bread">
    <ol class="breadcrumb">
        <li><a href="/tutorial-7">Tutorial</a></li>
        @{
        if (CurrentPage.learnCategory == "Getting Started")
        {
        <li><a href="/getting-started">Getting Started</a></li>
        <li><a href="/getting-started?category=@currentPageCategory">@currentPageCategory</a></li>
        }
        else if (CurrentPage.learnCategory == "Building Tasks")
        {
        <li><a href="/building-tasks">Building Tasks</a></li>
        <li><a href="/building-tasks?category=@currentPageCategory">@currentPageCategory</a></li>
        }
        else if (CurrentPage.learnCategory == "Case Tutorials")
        {
        <li><a href="/case-tutorials">Cases Tutorials</a></li>
        <li><a href="/case-tutorials?category=@currentPageCategory">@currentPageCategory</a></li>
        }
        else if (CurrentPage.learnCategory == "Troubleshooting")
        {
        <li><a href="/case-tutorials">Troubleshooting</a></li>
        <li><a href="/case-tutorials?category=@currentPageCategory">@currentPageCategory</a></li>
        }
        }
        <li class="active">@(pageTitle.Length>20?pageTitle.Substring(0,20)+"...":pageTitle)</li>
    </ol>

    @*<span class="part1">Getting Started</span> >
    <span class="part2">octoparse-introductory-lessons</span> >
    <span class="part3">Article</span>*@
</div>
<style>
    .tut-content{margin-top: 3rem;margin: 0 auto ;padding-top: 6rem;background: #fff}
</style>
<div class="tut-content">
    <div class="right">
        <div class="article">
            <h1 class="title">@CurrentPage.tutorialName</h1>
            <span class="date">@((CurrentPage.UpdateDate == default(DateTime) ? CurrentPage.CreateDate : CurrentPage.UpdateDate).ToString("D"))</span>
            @if (!string.IsNullOrWhiteSpace(CurrentPage.videoTutorial))
            {   
            }
            <p class="line"></p>
            <div class="content contentarticle">
                @if (CurrentPage.graphicTutorial != null && CurrentPage.graphicTutorial.ToString() != "")
                {
                <div  role="tabpanel" class="tab-pane @(string.IsNullOrWhiteSpace(CurrentPage.videoTutorial)?"active":"")" id="profile">@CurrentPage.graphicTutorial</div>
            }
            @if (!string.IsNullOrWhiteSpace(CurrentPage.videoTutorial))
            {
            <div  class="video" style="display:flex;justify-content:center">
                <iframe  width="100%" height="800" id="video" src="@CurrentPage.videoTutorial" frameborder="0" allowfullscreen></iframe>
                <br class="divider">
            </div>
            }
        </div>
        <p class="line"></p>
    </div>
    <div class="page">
        @{
        var tutorials = newsItems7.OrderBy("updateDate desc");
        List<DynamicPublishedContent> tutorialList = new List<DynamicPublishedContent>();
        tutorialList.AddRange(tutorials);
        if (tutorialList != null && tutorialList.Count() > 1)
        {
        var count = tutorialList.Count();
        int index = tutorialList.IndexOf(tutorialList.Where(p => p.Id == CurrentPage.Id).FirstOrDefault());
        if (index - 1 >= 0)
        {
        dynamic pre = tutorialList[index - 1];
        string preTitle = string.IsNullOrWhiteSpace(pre.Title) ? pre.Name : pre.Title;
        <div class="pre">
            <a target="_blank" href="@pre.Url" title="@preTitle">
                <span class="wrap">
                <span class="nextpost">PREVIOUS POST</span><br>
            </span>
            </a>
        </div>
        }
        if (index + 1 < count)
        {
        dynamic next = tutorialList[index + 1];
        string nextTitle = string.IsNullOrWhiteSpace(next.Title) ? next.Name : next.Title;
        <div class="next"><a target="_blank" href="@next.Url" title="@nextTitle">
            <span class="wrap">
                <span class="nextpost">NEXT POST</span><br>
            </span>
        </a></div>
        }
        }
        }
    </div>
</div>
</div>
<div class="popular">
    <div class="wrap">
        <ul>
            <li>Most popular tutorials</li>
            @foreach (var item in newsItems7.OrderBy("updateDate desc").Take(5))
            {
            <li><a target="_blank" target="_blank" href="@item.Url">@item.tutorialName</a></li>
            }
        </ul>
        <ul>
            <li>Recently view tutorials</li>
            @foreach (var item in newsItems7.Where("learnCategory == @0", "Case Tutorials").OrderBy("updateDate desc").Take(5))
            {
            <li><a target="_blank" href="@item.Url">@item.tutorialName</a></li>
            }
        </ul>
    </div>
</div>
<div class="download">
    <p>Download Octoparse to start web scraping or contact us for any<br> question about web scraping!</p>
    <div>
        <a target="_blank" href="/contact">Contact us</a>
        <a target="_blank" href="/download">Download</a>
    </div>
</div>
<script>
    if(document.querySelector('.changeView p:first-child'))
        document.querySelector('.changeView p:first-child').onclick = function(){
            this.style.color = 'black'
            document.querySelector('.changeView p:last-child').style.color = '#2095f2'
            document.querySelector('.tab-pane').style.display = 'block'
            document.querySelector('.video').style.display = 'none'
        }
    if(document.querySelector('.changeView p:last-child'))
        document.querySelector('.changeView p:last-child').onclick = function(){
            this.style.color = 'black'
            document.querySelector('.changeView p:first-child').style.color = '#2095f2'
            document.querySelector('.tab-pane').style.display = 'none'
            document.querySelector('.video').style.display = 'block'
    }
    var textDesc = document.querySelectorAll('#profile span');
    var tables = document.querySelectorAll('#profile table');
    var titles = document.querySelectorAll('#profile  strong');
    textDesc.forEach(function(item){
        item.style.fontSize = '2.5rem';
    });
    tables.forEach(function(item){
        item.style.width = '100%';
        item.style['margin'] = '2rem auto';
    })
</script>